body {
    background-color: black;
    color: white;
}

section {
    border: solid;
    border-color: white;
}

input {
    background-color: black !important;
    border: solid !important;
    border-color: white !important;
    color: white !important;
}