body {
    background-color: black;
    color: white;
}

section {
    border: solid;
    border-color: white;
}

.botaoMenu {
    background-color: black;
    border: none;
    color: white;
    transition: all 0.3s ease;
    font-size: 1.25rem;
}
.botaoMenu:hover {
    text-decoration: underline;
    font-weight: bold;
}

input {
    background-color: black !important;
    border: solid !important;
    border-color: white !important;
    color: white !important;
}
.erro {
    color: rgb(252, 24, 24);
}